@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<head>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<div class="page">
    @if (ShouldDisplayHeaderFooter())
    {
        <header class="header">
            <div class="top-row">
                <a id="logo2" href="https://www.xn--krwet-tra.dk/ny/" target="_blank">
                <img id="logo2" src="muskelsvind-kraewet-logo-blaa-2x.png" alt="Kræwet logo">
                </a>

                <a href="https://localhost:7094/">
                <img id="logo" src="børneklubben_logo.png" alt="Børneklubben Logo">
                <button id="login" class="bi bi-person-fill-lock" @onclick=Login>Login</button>
                </a>
            </div>
        </header>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    @if (ShouldDisplayHeaderFooter())
    {
        <footer class="footer">
            <a id="fb" class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/groups/4955203005/" role="button" target="_blank">
                <i class="bi bi-facebook"></i>
            </a>
            <a id="ig" class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/frivillig_muskelsvindfonden/" role="button" target="_blank">
                <i class="bi bi-instagram"></i>
            </a>
        </footer>
    }
</div>

@code {
    private bool ShouldDisplayHeaderFooter()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        return uri.LocalPath == "/" || uri.LocalPath.ToLowerInvariant().Contains("registration") || uri.LocalPath == "/status" || uri.LocalPath.ToLowerInvariant().Contains("status");
    }

    private async Task Login()
    {
        NavigationManager.NavigateTo("/login", forceLoad: true);
    }
}
