@page "/login"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Core.Model
@inject HttpClient Http
@inject NavigationManager NavigationManager

<head>
    <link rel="stylesheet" href="css/login.css" />
</head>

<header>
    <div style="text-align: right;">
        <button id="navigate" class="bi bi-house-door-fill" @onclick="ToHomePage"></button>
    </div>
</header>

<div class="login-container">
    <div class="login-card">
        <img id="loginlogo" src="børneklubben_logo.png" alt="Børneklubben Logo">
        <h3>Admin Login</h3>
        <EditForm EditContext="@loginEditContext" OnValidSubmit="@HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div>
                <label for="LoginUsername">Username</label>
                <InputText id="LoginUsername" @bind-Value="loginUser.Username" class="form-control" />
            </div>
            <div>
                <label for="LoginPassword">Password</label>
                <InputText id="LoginPassword" @bind-Value="loginUser.Password" type="password" class="form-control" />
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
            @if (!string.IsNullOrEmpty(loginMessage))
            {
                <div class="alert alert-info">@loginMessage</div>
            }
        </EditForm>
    </div>
</div>

@code {
    private Admin loginUser = new Admin();
    private EditContext loginEditContext;
    private string loginMessage = "";

    protected override void OnInitialized()
    {
        loginEditContext = new EditContext(loginUser);
    }

    private async Task HandleLogin()
    {
        var response = await Http.GetFromJsonAsync<bool>($"https://localhost:7095/api/admins/verify?username={loginUser.Username}&password={loginUser.Password}");
        if (response)
        {
            var admin = await Http.GetFromJsonAsync<Admin>($"https://localhost:7095/api/admins/getadmin?username={loginUser.Username}");
            await localStorage.SetItemAsync("adminUser", admin);
            NavigationManager.NavigateTo("/admin");
        }
        else
        {
            loginMessage = "Invalid username or password.";
        }
    }

    private void ToHomePage()
    {
        NavigationManager.NavigateTo("/", forceLoad: true);
    }
}
